<h1>
  form works!
</h1>
<hr>

<h3>C1 binding</h3>
<div class="row">
  <div class="col-3">
    <input class="form-control" type="text" name="name" (keyup)="showDataInput($event)">
  </div>
  <div class="col-6">
    <p class="alert">{{inputValue}}</p>
  </div>
</div>

<h3>C2 binding</h3>
<!-- import { FormsModule } from '@angular/forms'; in app.module.ts
  dont need set up function showDataInput($event)
-->
<div class="row">
  <div class="col-3">
    <input class="form-control" type="text" name="name" [(ngModel)]="inputValue" #txtName>
  </div>
  <div class="col-3">
    <p class="alert">{{inputValue}}</p>
  </div>
  <div class="col-sm-3">
    <code>{{txtName.value | json}}</code>
  </div>
</div>
<div class="row">

</div>