<h1>
  form works!
</h1>
<hr>

<h3>C1 binding</h3>
<div class="row">
  <div class="col-3">
    <input class="form-control" type="text" name="name" (keyup)="showDataInput($event)">
  </div>
  <div class="col-6">
    <p class="alert">{{inputValue}}</p>
  </div>
</div>

<h3>C2 binding</h3>
<!-- import { FormsModule } from '@angular/forms'; in app.module.ts
  dont need set up function showDataInput($event)
-->
<div class="row">
  <div class="col-3">
    <input class="form-control" type="text" name="name" [(ngModel)]="inputValue" #txtName>
  </div>
  <div class="col-3">
    <p class="alert">{{inputValue}}</p>
  </div>
  <div class="col-sm-3">
    <code>{{txtName.value | json}}</code>
  </div>
</div>
<div class="row">
  <ul>
    <li *ngFor="let hero of heroes" [class]="hero.id>2 ? 'red' : 'blue'">{{hero.name}}</li>
  </ul>
</div>
<div class="row">
  <ul>
    <li *ngFor="let hero of heroes" [class.red]="hero.id>2" [class.blue]="hero.id<=2">{{hero.name}}</li>
  </ul>
</div>
<div class="row">
  <div *ngIf="checkngIf=='huong'; else elseBlocka">{{checkngIf}}</div>
  <ng-template #elseBlocka> change value of checkngIf to show this text</ng-template>
</div>
<div class="row">
  <div *ngIf="checkngIf=='huong'; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>thenBlock show when ngIf is true</ng-template>
  <ng-template #elseBlock>elseBlock</ng-template>
</div>
<hr>
<div class="row">
  <div class="col-sm-3">

    <h2>List Heroes</h2>
    <button class="btn btn-success" (click)="addHero()" *ngIf="!isShowForm">Add hero</button>
    <button class="btn btn-success" *ngIf="isShowForm" disabled>Add hero</button>
    <br>
    <br>
    <table class="table table-bordered">
      <tr *ngFor="let hero of heroes">
        <td>
          <span [ngStyle]="{color: hero.id>2 ? 'red' : 'blue'}" id="{{hero.id}}" (click)="showEdit($event)">{{hero.name}}</span>
        </td>
        <td>
          <button (click)="deleteHero(hero.id)">Delete</button>
        </td>
      </tr>
    </table>
    <div *ngIf="heroes.length==0">Heroes empty!</div>
  </div>
  <div class="col-sm-3" *ngIf="isShowForm">
    <input placeholder="Id" type="text" *ngIf="action=='add'" [(ngModel)]="idEdit" />
    <input placeholder="Name" type="text" value="{{textEdit}}" [(ngModel)]="textEdit" />
    <button class="btn btn-primary" (click)="saveData()">Save</button>
  </div>
</div>